# .gitignore

# OS noise
.svn
.DS_Store
profile
*.tmproj
.buildpath
.project
.settings
.settings/*

# proj specific
staging/
stats/
php/wp-config.php
QuickSpikes.swf
QuickSpikesMainLogo.swf
Gallery.swf
