<photos>
	<image title='Test 1'>image1.jpg</image>
	<image title='Test 2'>image2.jpg</image>
	<image title='Test 3'>image3.jpg</image>
	<image title='Test 4'>image4.jpg</image>
	<image title='Test 5'>image5.jpg</image>
	<image title='Test 6'>image6.jpg</image>
	<image title='Test 7'>image7.jpg</image>
	<image title='Test 8'>image8.jpg</image>
</photos>